.contacts-nav{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.contacts-nav .contacts-nav__item:not(:last-child){
    margin-right: 50px;
}
.contacts {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-background-color);
    text-decoration: none;
    list-style: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__email-icon{
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill:currentColor ;

    transition-property: fill ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__email-icon:hover,
.contacts__email-icon:focus {
    fill: var(--accent-color);
}
.contacts__smartphone-icon{
    width: 10px;
    height: 16px;
    margin-right: 10px;

    fill: currentColor ;

    transition-property: fill ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__smartphone-icon:hover,
.contacts__smartphone-icon:focus {
    fill: var(--accent-color);
}
.contacts--footer{
    color: var(--text-contacts-color-footer);
    font-style: normal;
}
.contacts--header {
    display: flex;
    align-items: center;

    color: var(--text-contacts-color);
    font-weight: 500;
}
.contacts:hover,
.contacts:focus {
    color: var(--accent-color);
}