.team__item{
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    width: 270px;

    background-color: var(--main-background-color);
}
.team__position{
    padding-top: 30px;
    padding-bottom: 30px;
}
.our-team{
    background-color: var(--frame-background-color);
}
.team__title{
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color);
}
.our-team__title{
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--text-color); 
}
.team-social{
    display: flex;
    justify-content: center;
}
.team-social .team-social__item:not(:last-child){
    margin-left: 10px;
 }
.team-social__icon{
    width: 20px;
    height: 20px;
    fill:currentColor;
}
.team-social__link{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color:var(--border-clients-color);

    transition-property: color,background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social__link:hover, 
.team-social__link:focus{
    background-color: var(--accent-color);
    color: var(--main-background-color);
}
.team{
    display: flex;
}
.team .team__item:not(:last-child){
    margin-right: 30px;
}
.team__text {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--text-contacts-color);
}